
<div *ngIf="seller">
  <h2> {{seller.name}} 
    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27673-200.png" style="width:50px;height:50px;">
  </h2>
    <h3>Flokkur:  {{seller.category}}</h3>
    <div id="myndir">
      <img src= "{{seller.imagePath}}" alt="Image of the seller" style="width:400px;"/>
    </div>
</div>

<div id="vorur">
  <button class="btn btn-info" (click)="onAddNewProduct()">Bæta við nýrri vöru</button>
  <template ngbModalContainer></template>
</div>

<div id="vorur">
  <button class="btn btn-info" (click)="leaveSeller()">Tilbaka í alla seljendur</button>
</div>

<div class="tab">
  <button id="allarvorur" class="tablinks" (click)="openProducts(event, 'allProducts')" class='selected' style="display: block">Allar vörur</button>
  <button class="tablinks" (click)="openProducts(event, 'topProducts')">Topp tíu vörur</button>
</div>

<div id="allProducts" class="tabcontent">
  <h3>Allar vörur frá seljanda: </h3>

<div id="vorur">
  <div *ngIf="products">
    <div *ngFor="let p of products">
      <app-product-card [product]="p" (productUpdated)="onEditProduct($event)"></app-product-card>
    </div>
  </div>
</div>
</div>

<div id="topProducts" class="tabcontent">
  <h3>Topp tíu vörur frá seljanda: </h3>

  <div id="vorur">
    <div *ngIf="products">
    <div *ngFor="let p of topProducts">
      <app-product-card [product]="p" (productUpdated)="onEditProduct($event)"></app-product-card>
    </div>
  </div>
</div>
</div>







