<h1>
  {{title}}
  <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/27673-200.png" style="width:50px;height:50px;">
</h1>
 
 <div id="seljendur">
  <button class="btn btn-info"(click)="onAddNewSeller()">Bæta við seljanda</button>
  <template ngbModalContainer></template>
</div>

<div id="seljendur">
  <h3>Seljendur:</h3>
  <div *ngFor="let s of sellers">
    <button class="btn btn-info" (click)="onEditSeller(s)"><span class="glyphicon glyphicon-edit" > </span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Edit_font_awesome.svg/512px-Edit_font_awesome.svg.png" style="width: 30px; height: 30px;"></button>
    <a [routerLink]="['/seller-details', s]">{{s.name}}</a>
  <div>
</div>
